/* Стили для формы */
form {
    max-width: 400px; /* Максимальная ширина формы */
    margin: 20px auto; /* Центрирование формы */
    padding: 20px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Цвет и стиль границы */
    border-radius: 5px; /* Закругление углов */
    background-color: #f9f9f9; /* Цвет фона */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Тень для формы */
}

/* Стили для полей ввода */
input[type="password"] {
    width: 100%; /* Ширина 100% */
    padding: 10px; /* Внутренние отступы */
    margin: 10px 0; /* Отступы сверху и снизу */
    border: 1px solid #ccc; /* Цвет и стиль границы */
    border-radius: 4px; /* Закругление углов */
    box-sizing: border-box; /* Учет отступов и границ в ширине */
}
/* Стили для полей ввода */
input[type="text"] {
    width: 100%; /* Ширина 100% */
    padding: 10px; /* Внутренние отступы */
    margin: 10px 0; /* Отступы сверху и снизу */
    border: 1px solid #ccc; /* Цвет и стиль границы */
    border-radius: 4px; /* Закругление углов */
    box-sizing: border-box; /* Учет отступов и границ в ширине */
}

/* Стили для кнопок */
button {
    width: 100%; /* Ширина 100% */
    padding: 10px; /* Внутренние отступы */
    margin: 10px 0; /* Отступы сверху и снизу */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Закругление углов */
    background-color: #6A5ACD; /* Цвет фона кнопки (зеленый) */
    color: white; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

/* Эффект при наведении на кнопку */
button:hover {
    background-color: #7B68EE; /* Темнее цвет фона при наведении */
}

/* Стили для заголовков (если они есть) */
h2 {
    text-align: center; /* Центрирование заголовка */
    color: #333; /* Цвет текста заголовка */
}